kind: Deployment
apiVersion: apps/v1
metadata:
  name: nginx
  labels:
    app: nginx
    purpose: Deployment
    tier: web
spec:
   replicas: 3
   selector:
     matchLabels:
       app: nginx
       tier: web
       project: test-project
  # pod defination
   template:
     metadata:
       labels:
         app: nginx
         tier: web
         project: test-project
         extra-key: extra-value
     spec:
       containers:
       - name: nginx
         image: nginx:stable-perl
---
apiVersion: v1 
kind: Service 
metadata:
  name: nginx
spec:
  selector:
    app: nginx
    tier: web
    project: test-project
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
